{# menu de l'application #}

<strong>Menu</strong>
<ul>

    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <li><a>affichez les admins</a></li>
        <li><a>supprimez des admins</a></li>
        <li><a href="/users/add_admin">ajouter des admin</a></li>
    {% elseif is_granted('ROLE_ADMIN') %}
        <li>liste des produits</li>
        <li>ajouter un produit</li>
    {% elseif app.user %}
        <li>liste des produits</li>
        <li>ajouter un produit dans son panier</li>
    {% endif %}



    {% if app.user %}
        <li><a href="/logout">Déconnexion</a> </li>
    {% else %}
        <li><a href="/security/register">S'inscrire</a> </li>
        <li><a href="/security/login">Se connecter</a> </li>
    {% endif %}
</ul>
