{# menu de l'application #}

<strong>Menu</strong>
<ul>
    <li>liste des produits</li>
    <li>ajouter un produit</li>
    <li>... to be completed</li>
    <li><a href="/logout"> Déconnexion</a> </li>
</ul>
