{# menu de l'application #}

<strong>Menu</strong>
<ul>
    <li>liste des produits</li>
    <li>ajouter un produit</li>
    {% if app.user %}
        <li><a href="/logout">Déconnexion</a> </li>
    {% else %}
        <li><a href="/security/register">S'inscrire</a> </li>
        <li><a href="/security/login">Se connecter</a> </li>
    {% endif %}
</ul>
