{# menu de l'application #}

<strong>Menu</strong>
<ul>

    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <li><a href="/users/showall">affichez les admins</a></li>
        <li><a>supprimez des admins</a></li>
        <li><a href="/users/add_admin">ajouter des admin</a></li>
    {% elseif is_granted('ROLE_ADMIN') %}
        <li><a href="/produit/list">liste des produits</a></li>
        <li><a href="/produit/add">ajouter un produit</a></li>
    {% elseif app.user %}
        <li><a href="/produit/list">liste des produits</a></li>
        <li><a href="/panier/voirpanier">Voir son panier</a></li>
    {% endif %}



    {% if app.user %}
        <li><a href="/logout">Déconnexion</a> </li>
    {% else %}
        <li><a href="/security/register">S'inscrire</a> </li>
        <li><a href="/security/login">Se connecter</a> </li>
    {% endif %}
</ul>
